/.RegisterApplication.java._trace
/.RecorderApplication.java._trace
/.Persistidor.java._trace
/.Usuario.java._trace
/.Mail.java._trace
/.CreadorDeCodigosBarato.java._trace
/.CreadorDeCodigos.java._trace
/.EnviadorDeMailsBarato.java._trace
/.EnviadorDeMails.java._trace
/.EnviarMailException.java._trace
/.RegistrationException.java._trace
